html, body {
    height: 100%; /* Make the html and body elements take up the full height of the viewport */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

body {
    display: flex;
    flex-direction: column; /* Arrange children elements in a column */
    background-image: url(HistoryWall.jpeg);
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff; */
    background-image: url(BlackBook.jpeg);
    background-size: cover;
    padding: 45px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 60px;
    margin-right: 30px;
}

.BrandName{
    color: antiquewhite;
    font-weight: lighter;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header .nav {
    display: flex;
    align-items: center;
}

header .nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #efebeb;
    font-weight: bold;
    font-size: larger;
}

header .options {
    display: flex;
    align-items: center;
}

header .options select, header .options button {
    margin-left: 10px;
}

.main-content {
    flex: 1; /* Allow the main content to grow and fill available space */
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-content .text-content {
    width: 60%;
}

.glow-text {
    color: #030000; /* Text color */
    text-shadow: 
        0 0 5px #fff, 
        0 0 10px #fff, 
        0 0 15px #f80445, 
        0 0 20px #15ef2f, 
        0 0 25px #060606, 
        0 0 30px #421ee3, 
        0 0 35px #f1dc1f;
}

.main-content .video-content {
    width: 35%;
}

.main-content .video-content video {
    width: 100%;
    border: 1px solid #ccc;
}

footer {
    background-image: url(BlackBook.jpeg);
    background-size: cover;
    padding: 10px 20px;
    box-shadow: 0 -2px 4px rgba(17, 17, 17, 0.1);
    text-align: center;
}

footer .links {
    margin: 10px 0;
}

footer .links a {
    margin: 0 10px;
    text-decoration: none;
    color: #958d8d;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a, .dropbtn {
    margin-left: 20px;
    text-decoration: none;
    color: #efebeb;
    font-weight: bold;
    font-size: larger;
    background: none;
    border: none;
    cursor: pointer;
}

.nav a:hover, .dropbtn:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a7a4a4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #faf6f6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}